<style>
    @font-face {
        font-family: pingfang;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/ZWolken/PingFang/PingFangSC-Regular.otf') format('truetype'), url('https://cdn.jsdelivr.net/gh/ZWolken/PingFang/PingFangTC-Regular.otf') format('truetype'), url('https://cdn.jsdelivr.net/gh/ZWolken/PingFang/PingFangHK-Regular.otf') format('truetype');
    }

    @font-face {
        font-family: noto-color-emoji;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/googlefonts/noto-emoji/fonts/NotoColorEmoji.ttf') format('truetype');
    }

    * {
        font-family: pingfang, noto-color-emoji, sans-serif;
    }
</style>
